<p style="text-align: center; background-color: white;">
    <a href="{{site.baseurl}}/">Home</a> | 
    <a href="{{site.baseurl}}/pages/contribute">Contribute Knowledge Articles</a> | 
    <a href="{{site.baseurl}}/pages/Need_Access_to_Jira/Need_Access_to_Jira">Need JIRA Access</a> | 
    <a href="{{site.baseurl}}/pages/Get_Access_to_Mural/Get_Access_to_Mural">Get Access to Mural</a> | 
    <a href="{{site.baseurl}}/pages/Slack_Troubleshooting_Instructions/Slack_Troubleshooting_Instructions">Slack_Troubleshooting</a> | 
    <a href="{{site.baseurl}}/pages/contact">Contact Us</a> | 
</p>
